@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    background: slateblue;
    div :global(.git-icon) {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2em;
        color: white;
        cursor: pointer;
        transition: transform 200ms;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

* {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#routify-app {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}
